<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="productDetials">
            
            <h1>{{productDetials[0].title}}</h1>
            <p>Category:{{productDetials[0].category}}</p>
            <p>Brand:{{productDetials[0].brand}}</p>
            <img src="{{productDetials[0].thumbnail}}">
            <p>{{productDetials[0].description}}</p>
            <p>Price:{{productDetials[0].price|currency:'USD'}}</p>
            <p>DiscountPercentage:{{productDetials[0].discountPercentage}}</p>
            <p>Ratings:{{productDetials[0].rating}}</p>
            <p>Available quantity: {{productDetials[0].stock}}</p>
            
            


        </div>

    </div>
</div>

